// panel & globe
.globe,
.panel {
  height: 100%;
  width: auto;
  display: block;
  position: relative;

  @import "./body.scss";
  @import "./head.scss";
  @import "./foot.scss";

  // 侧边栏样式
  @import "./sider.scss";

  // mini ui 样式修改
  @import "./mini.scss";

  // 行样式
  @import "./row.scss";

  // 表格样式
  @import "./listTable.scss";

  // icon fix
  @import "./fixIcon.scss";
}
