@import "../var.scss";

/* input-hook */

.gb_form.mini-datepicker {
  width: 100%;
  height: $unit-height;
  line-height: $unit-height;
}

.gb_form .mini-buttonedit-border {
  height: $unit-height - 2px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.gb_form .mini-buttonedit-border > input {
  line-height: $unit-height - 2px;
  height: $unit-height - 2px;
  font-size: 14px;
}

.gb_form .mini-buttonedit-button,
.gb_form .mini-buttonedit-close {
  height: $unit-height - 6px;
}

.gb_form.mini-buttonedit {
  display: inline-block;
  height: $unit-height;
  width: 100%;
  /* float: left; */
}

/* grid hook*/
.mini-grid > .mini-grid-border {
  border-radius: 4px 4px 4px 4px;
}

.mini-datagrid-bar {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-radius: 4px 4px 0 0;

  background-color: rgb(247, 248, 250);

  & + .mini-grid > .mini-grid-border {
    border-radius: 0 0 4px 4px;
  }
}

.mini-grid-headerCell {
  background: rgb(247, 248, 250);
  padding: 4px 0;
  font-weight: bold;
  color: #666;
}

.mini-datagrid-bar .mini-grid-cell-inner {
  padding: 4px 2px;
}
.mini-grid-pager {
  background: rgb(247, 248, 250);
}

.mini-grid-headerCell {
  vertical-align: middle;
}

.mini-panel-border {
  border: 1px solid #ccc;
}

.mini-grid-headerCell {
  border-color: #ccc;
}

.mini-grid-cell {
  vertical-align: middle;
}

.mini-grid-table.mini-grid-rowstable {
  overflow: hidden;
}

.mini-grid-table.mini-grid-rowstable,
.mini-grid-table.mini-grid-rowstable {
  overflow: visible;
}

.mini-grid-table.mini-grid-rowstable .mini-grid-row > td:last-child,
.mini-grid-table.mini-grid-rowstable.mini-grid-row > td:last-child {
  border-right-width: 0;
}
